* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --border-radius: 0.5rem;
  --element-color: #424242;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
textarea {
  font: inherit;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

h1 {
  background-color: var(--element-color);
  border-radius: var(--border-radius);
  width: 25%;
  padding: 1rem 2rem;
}

.form-container {
  display: flex;
  justify-content: center;
}

form {
  border-radius: var(--border-radius);
  padding: 2rem;
  padding-top: 1rem;
  background-color: var(--element-color);
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row {
  display: flex;
  justify-content: space-between;
}

input {
  width: 12rem;
  box-sizing: border-box;
}

.form textarea {
  resize: none;
  width: 12rem;
  height: 12rem;
  box-sizing: border-box;
}

.submit {
  width: 6rem;
  height: 2rem;
  border-radius: var(--border-radius);
}

#blogposts {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.post {
  background-color: var(--element-color);
  width: 50%;
  border-radius: var(--border-radius);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.meta {
  font-weight: 300;
  font-size: small;
}

p.body {
  max-width: 90%;
  overflow-wrap: break-word;
}

.post textarea {
  resize: none;
  width: 18rem;
  height: 8rem;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.delete,
.edit {
  cursor: pointer;
}
